@model List<ExpenseSystem.ViewModels.Report.TagResult>
@using ExpenseSystem.ViewModels.Report

@foreach (var tag in Model)
{
    <li>
        <div class="tagValue">@string.Format("{0}  ({1}%)  {2:C}", tag.TagName.PadLeft(tag.Level * 5), tag.Percentage, tag.SpentAmount)</div>
    @if (tag.Children.Count > 0)
    {
        <ul>
            @Html.Partial("ReportBranchPartial", tag.Children.ToList())
        </ul>
    }
    </li>
}
