@model ExpenseSystem.Entities.Tag
@{
	ViewBag.Title = "Editing and viewing records";
}

@section HeadContent {
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ExpenseSystem/Home.js")" type="text/javascript"></script>
    <script id="expenseRecordTemplate" type="text/x-jquery-tmpl">
        <tr class="expenseRecord">
            <td class="tdDescription">
                <span>${Description}</span>
            </td>
            <td class="tdPrice">
                <span>${Price}</span>
            </td>
            <td class="tdDateStamp">
                <span>${DateStamp}</span>
            </td>
            <td align="right">
                <input type="button" value="Save" class="saveExpenseRecordButton hidden" />
                <input type="button" value="Edit" class="editExpenseRecordButton" />
                <input type="button" value="Delete" class="deleteExpenseRecordButton" />
            </td>
        </tr>
    </script>
}

@section BodyContent {
    <div id="tagsTreeArea">
        <h2 id="chooseTagsLabel">Choose tags</h2>
        @if (Model.Children.Count > 0)
        {
        <ul id="tagsTree">
            @Html.Partial("~/Views/Tag/TagsBranchPartial.cshtml", Model.Children.ToList())                                                  
        </ul>
        }
        <div>
            <input id="addTagButton" type="button" value="Add" />
            <input id="editTagButton" type="button" value="Edit" />
            <input id="deleteTagButton" type="button" value="Delete" />
        </div>
    </div>
    <div id="expensesRecordsArea">
        <div id="expensesRecords">
        </div>
    </div>
    <input type="hidden" id="sessionId" value="@Session.SessionID" />
}
